/*===========================================================================
 메인
============================================================================*/

.main-wrap .container { width: 1180px; } 

.main-wrap .main-banner .swiper { position: relative; } 

.main-wrap .main-banner .swiper .swiper-slide { position: relative; } 

.main-wrap .main-banner .swiper .swiper-slide>div { position: relative; width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center; } 

.main-wrap .main-banner .swiper .swiper-slide .txt-box { position: absolute; text-align: center; width: 100%; top: 50%; z-index: 10; transform: translateY(-50%); } 

.main-wrap .main-banner .swiper .swiper-slide img { width: 100%; } 

/* .main-wrap .main-banner .swiper .swiper-slide div:nth-child(2) { position: relative; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center; } */
.main-wrap .main-banner .swiper .swiper-slide .tit { color: #fff; width: 100%; text-align: center; font-size: 72px; line-height: 1.05; font-weight: 700; } 

.main-wrap .main-banner .swiper .swiper-slide .iframe-box { position: relative; padding-top: 56%; width: 100%; height: 0; } 

.main-wrap .main-banner .swiper .swiper-slide iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 

/* 동영상 삽입? */
.main-wrap .main-banner .swiper .swiper-slide p { margin-top: 30px; font-size: 18px; line-height: 1.65; font-weight: 400; letter-spacing: -0.03em; color: #fff; width: 100%; } 

.main-wrap .main-banner .swiper .swiper-slide .more { position: relative; display: inline-block; color: #fff; margin-top: 68px; font-size: 16px; font-weight: 700; letter-spacing: -0.03em; padding-bottom: 2px; } 

.main-wrap .main-banner .swiper .swiper-slide .more::after { content: ''; width: 100px; height: 2px; position: absolute; background: #fff; bottom: -2px; left: 50%; transform: translateX(-50%); } 

.main-wrap .main-banner .swiper .btn-group { position: absolute; top: 55%; width: 100%; border: 1px solid #fff; } 

.main-wrap .main-banner .swiper-button-prev { left: 80px; content: ''; border: 3px solid #fff; width: 48px; height: 48px; border-radius: 50%; transition: .3s; } 

.main-wrap .main-banner .swiper-button-next { right: 80px; content: ''; border: 3px solid #fff; width: 48px; height: 48px; border-radius: 50%; transition: .3s; } 

.main-wrap .main-banner .swiper-button-prev::after { font-size: 12px; color: #fff; font-weight: bold; transform: translate(180deg); position: absolute; left: 17px; } 

.main-wrap .main-banner .swiper-button-prev span { opacity: 0; } 

.main-wrap .main-banner .swiper-button-next::after { font-size: 12px; color: #fff; font-weight: bold; transform: translate(180deg); position: absolute; right: 17px; } 

.main-wrap .main-banner .swiper-button-next span { opacity: 0; } 

.main-wrap .main-banner .swiper-button-next:hover { opacity: 1; border-radius: 30px; width: 110px; transition: .35s; border: 1px solid #fff; height: 48px; } 

.main-wrap .main-banner .swiper-button-next:hover>span { font-size: 14px; color: #fff; padding-left: 20px; opacity: 1; } 

.main-wrap .main-banner .swiper-button-prev:hover { opacity: 1; border-radius: 30px; width: 110px; transition: .35s; border: 1px solid #fff; height: 48px; } 

.main-wrap .main-banner .swiper-button-prev:hover>span { font-size: 14px; color: #fff; padding-left: 20px; opacity: 1; } 

.main-wrap .main-banner .swiper-pagination { position: absolute; bottom: 0; padding-bottom: 50px; } 

.main-wrap .main-banner .swiper-pagination-bullet { display: inline-block; width: 28px; height: 6px; margin: 0; padding: 0; font-size: 0; border-radius: 0; background: #fff; } 

.main-wrap .main-banner .swiper-pagination-bullet-active { border-radius: 5px; } 

.main-wrap .main-banner .swiper-button-next>span { opacity: 0; position: absolute; left: 0; font-size: 14px; color: #fff; font-weight: 600; line-height: 1; } 

.main-wrap .sec01 { padding: 200px 0 200px; } 

.main-wrap .sec01 .container { position: relative; } 

.main-wrap .sec01 .tit { font-size: 48px; line-height: 1.25; font-weight: 700; letter-spacing: -0.03em; color: #000; } 

.main-wrap .sec01 .swiper { margin-top: 40px; position: relative; cursor: pointer; } 

.main-wrap .sec01 .swiper-wrapper { overflow: hidden; } 

.main-wrap .sec01 .swiper-slide { transition: 0.3s; position: relative; padding-left: 80px; display: flex; align-items: center; background: #fff; border: 3px solid #000; border-radius: 80px; padding: 0 100px 0 80px; height: 120px; } 

.main-wrap .sec01 .swiper .txt-box { display: flex; justify-content: center; position: relative; } 

.main-wrap .sec01 .swiper h3 { position: relative; } 

.main-wrap .sec01 .swiper h3 span { font-size: 22px; width: 180px; color: #000; } 

.main-wrap .sec01 .swiper h3 span::after { position: absolute; z-index: 100; right: 0; bottom: 7px; width: 1px; height: 20px; background: #303030; content: ''; display: block; margin-top: -9rem; } 

.main-wrap .sec01 .swiper p { padding-left: 30px; width: 850px; font-size: 22px; line-height: 1.4; font-weight: 400; color: #000; letter-spacing: -0.03em; overflow: hidden; } 

.main-wrap .sec01 .swiper p::after { position: absolute; right: -100px; top: 50%; z-index: 100; content: ''; background: url(../images/icon-arrow.png); width: 100%; transform: translateY(-50%); width: 50px; height: 50px; background-size: 100% auto; display: block; } 

.main-wrap .sec01 .swiper:hover p::after { animation: arrow-animation 0.4s ease-in-out; } 

/* 화살표 애니메이션 에러 및 오버시 화살표 흰색변경 */

@keyframes arrow-animation { 
 0% { opacity: 1; right: -100px; } 

 50% { opacity: 0; right: -120px; } 

 100% { right: -100px; opacity: 1; } 
 }

/* 버튼 커스텀이 어려워요ㅠ 안에 텍스트 변경도 안되네요 */
.main-wrap .sec01 .btn-group { position: absolute; right: 0; top: 100px; z-index: 100; width: 120px; height: 30px; } 

.main-wrap .sec01 .swiper-button-prev::after { position: absolute; top: 50%; left: 0; transform: translateY(-50%); font-size: 22px; font-weight: bold; color: #ddd; position: absolute; } 

.main-wrap .sec01 .swiper-button-prev:hover::after { color: #000; } 

.main-wrap .sec01 .swiper-button-next::after { content: ''; width: 22px; position: absolute; right: 0; top: 50%; transform: translateY(-50%); } 

.main-wrap .sec01 .swiper-pagination-fraction { position: absolute; top: 50%; transform: translateY(-50%); margin-top: -5px; } 

.main-wrap .sec01 .swiper-pagination-fraction>span { font-size: 22px; color: #000; font-weight: 500; line-height: 1; border: 1px solid #000; } 

.main-wrap .sec01 .swiper:hover .swiper-slide { background: #000; } 

.main-wrap .sec01 .swiper:hover p { color: #fff; overflow: hidden; } 

.main-wrap .sec01 .swiper:hover h3 span::after { background: #fff; color: #fff; } 

.main-wrap .sec01 .swiper:hover h3 span { color: #fff; } 

.main-wrap .sec01 .swiper-slide .mobile { display: none; } 


/* .main-wrap .swiper.btn-group { position: absolute; top: 0; right: 0; width: 200px; } */
/* .main-wrap .swiper.btn-group .swiper-pagination { position: absolute; } */
/* .main-wrap .swiper.btn-group .swiper-button-prev { position: absolute; top: 50%; border: 1px solid #000; } 
.main-wrap .swiper.btn-group .swiper-button-next { position: absolute; top: 50%; border: 1px solid #000; } */


.main-wrap .sec02 { background: #f9f9f9; padding: 120px 0; } 

.main-wrap .sec02 .tit { display: flex; } 

.main-wrap .sec02 .txt-box { position: relative; cursor: pointer; } 

.main-wrap .sec02 .txt-box h2 { font-size: 56px; font-weight: bold; color: #ccc; } 

.main-wrap .sec02 .txt-box h2::before { background: #e0e0e0; content: ''; width: 10px; height: 10px; border-radius: 50%; position: absolute; top: -24px; left: 50%; display: block; } 

.main-wrap .sec02 .txt-box .trading::before { background: red; } 

.main-wrap .sec02 .txt-box:nth-child(2) { margin-left: 42px; } 

.main-wrap .sec02 .txt-box .trading { color: red; } 

.main-wrap .sec02 .view-more-btn { display: inline-block; margin-top: 30px; color: #222; font-size: 15px; font-weight: 700; letter-spacing: -0.03em; padding: 20px 30px; border: 3px solid #ddd; } 

.main-wrap .sec02 p { margin-top: 40px; font-size: 18px; color: #000; font-weight: 400; letter-spacing: -0.03em; line-height: 1.8; } 

.main-wrap .sec02 ul { margin-top: 50px; display: flex; justify-content: space-between; flex-wrap: wrap; } 

.main-wrap .sec02 ul li { position: relative; width: calc(100% / 4 - 20px); margin-bottom: 50px; } 

.main-wrap .sec02 ul li .img-box { margin-bottom: 30px; overflow: hidden; } 

.main-wrap .sec02 ul li img { transition: 0.4s; } 

.main-wrap .sec02 ul li img:hover { transform: scale(1.05); } 

.main-wrap .sec02 ul li a { position: relative; } 

.main-wrap .sec02 ul li a h3 { color: #000; font-size: 20px; text-align: center; } 

.main-wrap .sec02 .trading-group li:nth-child(3) { width: calc(100% / 4 - 20px); } 

.main-wrap .sec02 .trading-group li:nth-child(3) a { font-size: 42px; color: #d60000; font-weight: 700; position: absolute; left: 50%; top: 35%; transform: translateX(-50%); } 

.main-wrap .sec02 .trading-group li:last-child a .txt { text-align: left; position: absolute; bottom: 80px; left: 30px; color: #fff; font-size: 22px; line-height: 1.46; font-weight: 700; } 

.main-wrap .sec02 .pharmacy-group li .img-box { border-radius: 50%; } 

.main-wrap .sec02 .pharmacy-group li:nth-child(6) a { font-size: 42px; color: #2d5fff; font-weight: 700; position: absolute; left: 50%; top: 35%; transform: translateX(-50%); } 

.main-wrap .sec02 .pharmacy-group li:last-child .img-box { position: relative; } 

.main-wrap .sec02 .pharmacy-group li:last-child a .txt { z-index: 10; position: absolute; width: 100%; top: 50%; transform: translateY(-50%); color: #fff; font-size: 22px; line-height: 1.46; font-weight: 700; text-align: center; } 

.main-wrap .sec02 .pharmacy-click { display: none; } 


.main-wrap .sec02.trading-click .trading { color: red; } 

.main-wrap .sec02.trading-click .trading::before { content: ''; background: red; } 

.main-wrap .sec02.trading-click .pharmacy { color: #e0e0e0; } 

.main-wrap .sec02.trading-click .pharmacy-click { display: none; } 

.main-wrap .sec02.pharmacy-click .pharmacy { color: #2d5fff; } 

.main-wrap .sec02.pharmacy-click .pharmacy::before { content: ''; background: #2d5fff; } 

.main-wrap .sec02.pharmacy-click .trading { color: #e0e0e0; } 

.main-wrap .sec02.pharmacy-click .trading-click { display: none; } 

.main-wrap .sec02.pharmacy-click .trading::before { content: ''; background: #e0e0e0; } 

.main-wrap .sec02.pharmacy-click .pharmacy-click { display: flex; } 



.main-wrap .sec03 { padding: 120px 0; } 

.main-wrap .sec03 h2 { font-size: 48px; line-height: 1.25; font-weight: 700; letter-spacing: -0.03em; color: #000; } 

.main-wrap .sec03 .search-area { margin-top: 80px; display: flex; } 

.main-wrap .sec03 .search-area .menu-area { width: 230px; height: 90px; border: 3px solid #ddd; display: inline-block; border-radius: 50px; padding: 0 30px; } 

.main-wrap .sec03 .search-area .menu-area>div { display: flex; justify-content: space-between; align-items: center; width: 100%; } 

.main-wrap .sec03 .search-area .menu-area .menu { line-height: 4.2; font-size: 20px; font-weight: 700; color: #000; letter-spacing: -0.03em; text-align: left; } 

.main-wrap .sec03 .search-area .menu-area .more-btn { content: ''; background: url(../images/icon-main-more.png); width: 20px; height: 20px; background-size: 100% auto; background-repeat: no-repeat; transform: rotate(90deg); } 

.main-wrap .sec03 .search-area .search-bar-area { width: calc(100% - 250px); margin-left: 20px; } 

.main-wrap .sec03 .search-area .search-bar { display: flex; justify-content: space-between; } 

.main-wrap .sec03 .search-area .search-bar input { width: calc(100% - 210px); max-width: 1290px; height: 90px; margin-left: 20px; padding-left: 50px; padding-right: 68px; font-size: 20px; font-weight: 500; letter-spacing: -0.03em; background: #f4f4f4; border-radius: 50rem 0 0 50rem; } 

.main-wrap .sec03 .search-area .search-bar .search-btn { width: 210px; height: 90px; margin-left: 10px; background: #000; border-radius: 0 50rem 50rem 0; cursor: pointer; vertical-align: middle; text-align: center; } 

.main-wrap .sec03 .search-area .search-bar .search-btn span { font-size: 20px; line-height: 1; font-weight: 700; letter-spacing: -0.03em; color: #fff; margin-right: 20px; } 

.main-wrap .sec03 .search-area .hashtag { width: auto; margin-top: 41px; margin-left: 50px; text-align: center; } 

.main-wrap .sec03 .search-area .hashtag .tit { text-align: left; color: #000; margin-right: 27px; font-size: 18px; line-height: 1; letter-spacing: -0.03em; } 

.main-wrap .sec03 .search-area .hashtag .hashtag-group { display: flex; justify-content: left; align-items: center; } 

.main-wrap .sec03 .search-area .hashtag a { word-break: keep-all; color: #999; margin-left: 16px; font-weight: 500; font-family: 'Noto sans KR'; } 

.main-wrap .sec03 .search-area .hashtag a:first-child { margin-left: 0; } 

.main-wrap .sec03 .m-search-btn { display: none; } 

.main-wrap .sec04 .container { display: flex; justify-content: space-between; } 

/* 화살표가 컨테이너 바깥영역으로 나와있는데 어떻게 해야할까요? */
.main-wrap .sec04 .news-area { width: 57%; overflow: hidden; } 

.main-wrap .sec04 h2 { font-size: 48px; font-weight: 700; letter-spacing: -0.03em; color: #000; } 

.main-wrap .sec04 h3 { width: 100%; margin-top: 30px; margin-bottom: 0; font-size: 22px; font-weight: 700; line-height: 1.4; letter-spacing: -0.03em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; word-break: break-all; } 

.main-wrap .sec04 p { word-break: keep-all; width: 100%; margin-top: 10px; font-size: 18px; line-height: 1.6; font-weight: 400; letter-spacing: -0.03; color: #666; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 3.2em; } 

.main-wrap .sec04 .date { margin-top: 40px; font-size: 15px; line-height: 1; font-weight: 600; color: #bbb; display: block; } 

.main-wrap .sec04 .top-area { display: flex; justify-content: space-between; align-items: baseline; } 


.main-wrap .sec04 .top-area a span { font-size: 16px; line-height: 1; font-weight: 700; color: #bbb; padding-right: 25px; position: relative;}

.main-wrap .sec04 .top-area a span::after { width: 20px; height: 20px; content: ''; background: url(../images/more_grey.png)no-repeat center / 100% auto; position: absolute; top: -2px; right: 0; transform: rotate(180deg);}



.main-wrap .sec04 .news-area .con-group { margin-top: 40px; display: flex;}

.main-wrap .sec04 .news-area .con-group a { width: calc(50% - 16px); margin-right: 32px; border: 1px solid #000;}

.main-wrap .sec04 .sns-area { margin-left: 300px; text-align: left; } 

.main-wrap .sec04 .sns-area a { margin-top: 40px; } 

.main-wrap .sec04 .sns-area img { border-radius: 50%; } 

.main-wrap .sec04 .sns-area h3 { text-align: center; } 

/*===========================================================================
 팝업
============================================================================*/
.popup-area-bg { z-index: 900; display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, .3); } 

.popup-area { z-index: 1000; display: none; position: fixed; top: 0; left: 0; width: 100vw; top: 40%; left: 50%; transform: translateX(-50%); width: 430px; padding: 40px 40px 50px; background: #fff; box-shadow: 0 5px 40px 0 rgb(0 0 0 / 14%); } 

/* 
.popup-area .txt-box .con { font-size: 14px; font-weight: 300; letter-spacing: -.7px; line-height: 1.42; color: #333; text-align: center; } 

.popup-area .btn-box { padding-top: 26px; width: 100%; text-align: center; } 

.popup-area .btn-box button { border: 1px solid #000; width: 87px; height: 38px; font-size: 15px; line-height: 2.4; border: 1px solid #333; font-weight: 500; letter-spacing: -.7px; text-align: center; } 

.popup-area .btn-box .no { background-color: #fff; color: #333; } 

.popup-area .btn-box .yes { margin-left: 10px; background-color: #333; color: #fff; } */



/*===========================================================================
 반응형
============================================================================*/
@media (max-width: 1023px) {
 /* 메인 */
 .main-wrap .sec03 .search-area .hashtag { margin-left: 30px; } 
}

@media(max-width:768px) {
 /* 메인 */
 .main-wrap .main-banner .swiper { height: 100vh; } 

 .main-wrap .main-banner .swiper .swiper-slide .tit { font-size: 48px; } 

 .main-wrap .main-banner .swiper .swiper-slide p { font-size: 18px; font-weight: 300; } 

 .main-wrap .main-banner .btn-group { display: none; } 

 .main-wrap .sec01 { padding: 100px 30px; } 

 .main-wrap .sec01 .tit { font-size: 34px; } 

 .main-wrap .sec01 .swiper-slide { background: #000; display: initial; width: 645px; border: none; border-radius: 0; padding: 30px 20px; } 

 .main-wrap .sec01 .swiper .txt-box { width: 100%; display: flex; flex-wrap: wrap; justify-content: left; } 

 .main-wrap .sec01 .swiper h3 span { color: #fff; font-size: 18px; } 

 .main-wrap .sec01 .swiper p { color: #fff; font-size: 18px; padding-left: 0; } 

 .main-wrap .sec01 .swiper-slide .mobile { display: block; } 

 .main-wrap .sec01 .btn-group { top: 50px; } 

 .main-wrap .sec01 .swiper h3 span::after { display: none; } 

 .main-wrap .sec01 .swiper p::after { display: none; } 

 .main-wrap .sec02 { padding: 100px 30px; background: #f9f9f9; } 

 .main-wrap .sec02 .tit h2 { font-size: 42px; } 

 .main-wrap .sec02 .txt-box h2::before { width: 9px; height: 9px; } 

 .main-wrap .sec02 .tit .txt-box:nth-child(2) { margin-left: 32px; } 

 .main-wrap .sec02 .view-more-btn { margin-top: 30px; padding: 20px 30px; font-size: 15px; } 

 .main-wrap .sec02 ul li { width: calc(50% - 16px); } 

 .main-wrap .sec02 ul li:nth-child(7) { margin-bottom: 0; } 

 .main-wrap .sec02 ul li:nth-child(8) { margin-bottom: 0; } 

 .main-wrap .sec02 ul li a h3 { font-weight: 700; font-size: 15px; margin-top: 30px; } 

 .main-wrap .sec02 .trading-group li:nth-child(3) { width: calc(50% - 16px); } 

 .main-wrap .sec02 p { margin-top: 40px; font-size: 16px; font-weight: 300; letter-spacing: -0.03em; line-height: 1.8; max-width: 1000rem; } 

 .main-wrap .sec02 .mobile { display: block; } 

 .main-wrap .sec02 .trading-group li:last-child a .txt { font-size: 12px; } 

 .main-wrap .sec02 .pc { display: none; } 

 .main-wrap .sec03 { padding: 100px 30px; } 

 .main-wrap .sec03 h2 { font-size: 36px; } 

 .main-wrap .sec03 .search-area { margin-top: 40px; justify-content: space-between; } 

 .main-wrap .sec03 .search-area .menu-area { width: 180px; height: 76px; } 

 .main-wrap .sec03 .search-area .menu-area .menu { font-size: 16px; line-height: 4.3; } 

 .main-wrap .sec03 .search-area .search-bar-area { width: calc(100% - 190px); margin-left: 10px; } 

 .main-wrap .sec03 .search-bar-area .search-bar input { width: 100%; font-size: 16px; line-height: 4.75; padding-right: 0; height: 76px; margin-left: 0; } 

 .main-wrap .sec03 .search-bar-area .search-bar .search-btn { vertical-align: middle; border: 1px solid #000; width: 80px; height: 76px; position: relative; background: #f4f4f4; margin-left: 0; } 

 .main-wrap .sec03 .search-bar-area .search-bar .search-btn .m-search-btn { display: block; width: 40px; height: 40px; background-size: cover; background-position: center; background: url(../images/search-btn.png) no-repeat; } 

 .main-wrap .sec03 .search-bar-area .search-bar .search-btn span { display: none; } 

 .main-wrap .sec03 .search-area .hashtag { display: none; } 

 .main-wrap .sec04 { padding: 100px 30px; background: #f9f9f9; } 

 .main-wrap .sec04 .container { flex-wrap: wrap; } 

 .main-wrap .sec04 .news-area { width: 100%; } 

 .main-wrap .sec04 h2 { font-size: 36px; font-weight: 700; letter-spacing: -0.03em; color: #000; } 

 .main-wrap .sec04 .news-area .con-group { margin: 40px -16px 0; } 

 .main-wrap .sec04 h3 { width: 100%; margin-top: 30px; font-size: 22px; font-weight: 700; line-height: 1.4; letter-spacing: -0.03em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; word-break: break-all; font-family: 'Noto Sans'; } 

 .main-wrap .sec04 p { margin-top: 10px; font-size: 18px; line-height: 1.6; font-weight: 300; letter-spacing: -0.03em; color: #666; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 3.2em; } 

 .main-wrap .sec04 .pc { display: none; } 

 .main-wrap .sec04 .date { margin-top: 30px; } 

 .main-wrap .sec04 .sns-area { width: 100%; margin-top: 120px; margin-left: 0; text-align: center; } 

 .main-wrap .sec04 .sns-area a { text-align: center; width: 100%; margin-top: 40px; } 

 .main-wrap .sec04 .sns-area .img-box { text-align: center; width: 50%; margin: 0 auto; } 

 .main-wrap .sec04 .sns-area h3 { margin-top: 30px; font-size: 20px; font-weight: 700; letter-spacing: -0.03em; text-align: center; } 

 /* 로그인 */
}